a{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav{
  margin-bottom: 100px;
}

img{
  height: 300px;
}

.beerDetails{
  display: flex;
  align-items: center;
  margin: 30px;
}

.beerDetails > div{
  margin: 50px;
}